*{

    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box; 

    font-family: 'Roboto', sans-serif;

    
            
}
body{
    background-color: rgb(199, 209, 209);
    background-size: 100px 100px;
    background-position: 0 0, 40px 40px;
    background-image: radial-gradient(rgba(120,121,151,.87) 1.5px, transparent 1.5px), radial-gradient(rgba(120,121,151,.87) 1.5px, rgba(255,255,255,.1) 1.5px);
}